{% extends "layout.html" %}

{% block title %}Create Booking - Chatabook{% endblock %}

{% block content %}
<h1>Vytvoriť rezerváciu</h1>
<form method="POST" action="{{ url_for('main.booking') }}">
    {% if current_user.role_id == 1 %}
    <label for="user_id">Užívateľ:</label>
    <select id="user_id" name="user_id">
        {% for user in users %}
        <option value="{{ user.id }}" {% if user.id == current_user.id %}selected{% endif %}>
            {{ user.name }} {{ user.surname }}
        </option>
        {% endfor %}
    </select>
    {% endif %}
    
    <label for="date_from">Od:</label>
    <input type="text" id="date_from" name="date_from" required>

    <label for="date_to">Do:</label>
    <input type="text" id="date_to" name="date_to" required>

    <label for="event_type_id">Udalosť:</label>
    <select id="event_type_id" name="event_type_id">
        {% for event in event_types %}
            <option value="{{ event.id }}">{{ event.name }}</option>
        {% endfor %}
    </select>

    <button type="submit">Rezervovať</button>
</form>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        flatpickr("#date_from", {
            dateFormat: "Y-m-d", 
            minDate: "today"
        });
        flatpickr("#date_to", {
            dateFormat: "Y-m-d", 
            minDate: "today"
        });
    });
</script>

{% endblock %}
