{% extends "layout.html" %}

{% block title %}Login - Chatabook{% endblock %}

{% block content %}
<div class="bg-white shadow-lg rounded-lg p-8 mx-auto max-w-lg mt-10">
    <h1 class="text-2xl font-bold text-green-800 text-center mb-6">Prihlásenie</h1>
    <form method="POST" action="{{url_for('main.login')}}" class="space-y-6">
        <div>
            <label for="email" class="block text-sm font-medium text-gray-700">E-mail:</label>
            <input
                type="email"
                id="email"
                name="email"
                required
                class="w-full mt-1 p-2 border rounded focus:ring-green-500 focus:border-green-500"
            />
        </div>
        <div>
            <label for="password" class="block text-sm font-medium text-gray-700">Heslo:</label>
            <input
                type="password"
                id="password"
                name="password"
                required
                class="w-full mt-1 p-2 border rounded focus:ring-green-500 focus:border-green-500"
            />
        </div>
        <button
            type="submit"
            class="w-full bg-dark hover:bg-light text-white py-2 px-4 rounded-lg font-bold transition"
        >
            Prihlásiť sa
        </button>
    </form>
</div>
{% endblock %}
