{% extends "layout.html" %}

{% block title %}Manage Users - Chatabook{% endblock %}

{% block content %}
<h1>Správa užívateľov</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Meno</th>
            <th>E-mail</th>
            <th>Telefónne číslo</th>
            <th>Rola</th>
            <th>Spravovať</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }} {{ user.surname }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone_number }}</td>
            <td>{{ user.role.name }}</td>
            <td>
                <a href="{{ url_for('main.edit_user', user_id=user.id) }}">Edit</a>
                <form action="{{ url_for('main.delete_user', user_id=user.id) }}" method="POST" style="display:inline;">
                    <button type="submit" onclick="return confirm('Ste si istý, že chcete vymazať uživateľa {{ user.name }} {{ user.surname }}?')">Vymazať</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('main.home') }}">Back to Home</a>
{% endblock %}
