{% extends "layout.html" %}

{% block title %}Register - Chatabook{% endblock %}

{% block content %}

<form method="POST" action="{{url_for('main.register')}}">
    <label for="name">Meno:</label>
    <input type="text" id="name" name="name" required>

    <label for="surname">Priezvisko:</label>
    <input type="text" id="surname" name="surname" required>

    <label for="email">E-mail:</label>
    <input type="text" id="email" name="email" required>

    <label for="phone_number">Telefónne číslo:</label>
    <input type="text" id="phone_number" name="phone_number" required>

    <label for="password">Heslo:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Registrovať</button>
</form>
{% endblock %}